body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.dice1 {
    width: 150px;
    height: auto;
    padding-bottom: 20px;
}

h2, h3 {
    color: #4CAF50;
}

p {
    line-height: 0.6;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}