@media only screen and (max-width: 768px) {
    .info-grid {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    color: #333;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 900px);
    grid-template-rows: repeat(2);
    gap: 10px;
}

.info-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    padding-left: 6px;
}

.info-section2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    padding-right: 6px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.spin { 
    animation: spin 3s linear infinite; 
    width: 200px;
    height: auto;    
}

.dice1 {
    width: 150px;
    height: auto;
    padding-bottom: 20px;
}

h2, h3 {
    color: #4CAF50;
}

p {
    line-height: 1.8;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
